* {
  box-sizing: border-box;
  text-align: center;
}

/* Sort */
.sort {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content;
}

/* Toolbar */
.toolbar {
  padding: 2% 2% 1% 2%;
  border-bottom: min(1px, 1vw) solid #000;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1%;
  align-items: flex-end;
}

.slider {
  display: grid;
  grid-template-rows: repeat(2, content);
  grid-gap: 0;
}

#array_slider,
#speed_slider {
  padding: 3% 0px 0px 0px;
}

.label {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

#algo_selector {
  width: 20vw;
}

button {
  width: 100%;
  padding: 2% 5%;
  font-size: 80%;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
}

.grey-btn {
  color: #000;
  background: linear-gradient(#fff, #cfcfcf);
}

/* Main */
.main {
  height: 100%;
  display: flex;
  font-family: "Noto Sans TC", sans-serif;
}

.bar {
  align-self: flex-end;
  display: inline-block;
}

@media (max-width: 560px) {
  .toolbar {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20%;
    column-gap: 2%;
  }
  .label {
    font-size: 12px;
  }
  .button {
    font-size: 60%;
  }
}

@media (max-height: 500px) {
  .app {
    grid-template-rows: 20% 80%;
  }
}
